web/WEB-INF/wsdl/localhost_8080/CurrencyConverterService/ConverterService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ConverterService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ConverterService/" name="ConverterService">
<types>
<xsd:schema>
<xsd:import namespace="http://ConverterService/" schemaLocation="http://localhost:8080/CurrencyConverterService/ConverterService?xsd=1"/>
</xsd:schema>
</types>
<message name="GetCurrencyCodes">
<part name="parameters" element="tns:GetCurrencyCodes"/>
</message>
<message name="GetCurrencyCodesResponse">
<part name="parameters" element="tns:GetCurrencyCodesResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="GetConversionRate">
<part name="parameters" element="tns:GetConversionRate"/>
</message>
<message name="GetConversionRateResponse">
<part name="parameters" element="tns:GetConversionRateResponse"/>
</message>
<portType name="ConverterService">
<operation name="GetCurrencyCodes">
<input wsam:Action="http://ConverterService/ConverterService/GetCurrencyCodesRequest" message="tns:GetCurrencyCodes"/>
<output wsam:Action="http://ConverterService/ConverterService/GetCurrencyCodesResponse" message="tns:GetCurrencyCodesResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ConverterService/ConverterService/GetCurrencyCodes/Fault/ParseException"/>
</operation>
<operation name="GetConversionRate">
<input wsam:Action="http://ConverterService/ConverterService/GetConversionRateRequest" message="tns:GetConversionRate"/>
<output wsam:Action="http://ConverterService/ConverterService/GetConversionRateResponse" message="tns:GetConversionRateResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ConverterService/ConverterService/GetConversionRate/Fault/ParseException"/>
</operation>
</portType>
<binding name="ConverterServicePortBinding" type="tns:ConverterService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetCurrencyCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="GetConversionRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ConverterService">
<port name="ConverterServicePort" binding="tns:ConverterServicePortBinding">
<soap:address location="http://localhost:8080/CurrencyConverterService/ConverterService"/>
</port>
</service>
</definitions>