web/WEB-INF/wsdl/localhost_8080/CurrencyConverterService/ConverterService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ConverterService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ConverterService/">

<xs:element name="GetConversionRate" type="tns:GetConversionRate"/>

<xs:element name="GetConversionRateResponse" type="tns:GetConversionRateResponse"/>

<xs:element name="GetCurrencyCodes" type="tns:GetCurrencyCodes"/>

<xs:element name="GetCurrencyCodesResponse" type="tns:GetCurrencyCodesResponse"/>

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:complexType name="GetCurrencyCodes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetCurrencyCodesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorType" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:int"/>
<xs:element name="unexpectedObject" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetConversionRate">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetConversionRateResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>