web/WEB-INF/wsdl/192.168.146.1_53981/CurrencyService/ConverterService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CurrencyService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CurrencyService/" name="ConverterService">
<types>
<xsd:schema>
<xsd:import namespace="http://CurrencyService/" schemaLocation="http://192.168.146.1:53981/CurrencyService/ConverterService?xsd=1"/>
</xsd:schema>
</types>
<message name="GetConversionRate">
<part name="parameters" element="tns:GetConversionRate"/>
</message>
<message name="GetConversionRateResponse">
<part name="parameters" element="tns:GetConversionRateResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="GetCurrencyCodes">
<part name="parameters" element="tns:GetCurrencyCodes"/>
</message>
<message name="GetCurrencyCodesResponse">
<part name="parameters" element="tns:GetCurrencyCodesResponse"/>
</message>
<portType name="CurrencyService">
<operation name="GetConversionRate">
<input wsam:Action="http://CurrencyService/CurrencyService/GetConversionRateRequest" message="tns:GetConversionRate"/>
<output wsam:Action="http://CurrencyService/CurrencyService/GetConversionRateResponse" message="tns:GetConversionRateResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://CurrencyService/CurrencyService/GetConversionRate/Fault/ParseException"/>
</operation>
<operation name="GetCurrencyCodes">
<input wsam:Action="http://CurrencyService/CurrencyService/GetCurrencyCodesRequest" message="tns:GetCurrencyCodes"/>
<output wsam:Action="http://CurrencyService/CurrencyService/GetCurrencyCodesResponse" message="tns:GetCurrencyCodesResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://CurrencyService/CurrencyService/GetCurrencyCodes/Fault/ParseException"/>
</operation>
</portType>
<binding name="CurrencyServicePortBinding" type="tns:CurrencyService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetConversionRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="GetCurrencyCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ConverterService">
<port name="CurrencyServicePort" binding="tns:CurrencyServicePortBinding">
<soap:address location="http://192.168.146.1:53981/CurrencyService/ConverterService"/>
</port>
</service>
</definitions>